<template>
  <q-ajax-bar
    ref="bar"
    :reverse="true"
    position="left"
    color="primary"
    size="10px"
  />
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          v-if="isAuthenticated"
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title>
          <%= baseName %>
        </q-toolbar-title>
        <q-btn
          flat
          round
          @click="changeTheme()"
          :icon="$q.dark.isActive ? 'dark_mode' : 'light_mode'"
        />
        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="data.leftDrawerOpen"
      show-if-above
      :mini="data.miniState"
      @mouseover="data.miniState = false"
      @mouseout="data.miniState = true"
      mini-to-overlay
      :width="250"
      :breakpoint="500"
      bordered
      v-if="store.state.auth.account"
    >
      <q-item
        :key="menuItem.name"
        v-for="menuItem in menuItems()"
        :to="menuItem.name"
        clickable
        v-ripple
        :active="link === menuItem.name"
        active-class="bg-blue-1 text-blue-10"
        @click="link = menuItem.name"
      >
        <q-item-section avatar>
          <q-icon :name="menuItem.icon" />
        </q-item-section>
        <q-item-section>
          {{ $t(menuItem.i18nKey) }}
        </q-item-section>
      </q-item>
      <q-item
        clickable
        v-ripple
        @click="logout"
      >
        <q-item-section avatar>
          <q-icon name="logout" />
        </q-item-section>
        <q-item-section>
          {{ $t('global.menu.account.logout') }}
        </q-item-section>
      </q-item>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { LocalStorage, useQuasar } from 'quasar';
import { computed, defineComponent, reactive } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { authLogout } from '../auth/authentication';

export default defineComponent({
  name: 'MainLayout',

  setup() {
    const store = useStore();
    const router = useRouter();
    const $q = useQuasar();

    const isAuthenticatedGetter = () => store.getters['auth/isAuthenticated'];
    const leftDrawerOpen = isAuthenticatedGetter();
    const data = reactive({ leftDrawerOpen, miniState: true });
    const link = reactive({});

    if (LocalStorage.has('dark-mode')) {
      $q.dark.set(LocalStorage.getItem('dark-mode'));
    } else {
      $q.dark.set($q.dark.mode);
    }

    store.watch(
      () => isAuthenticatedGetter(),
      newValue => {
        data.leftDrawerOpen = newValue;
      }
    );

    return {
      data,
      link,
      store,
      menuItems() {
        return [
<%_ if (authenticationType !== 'oauth2' ) { _%>
          { name: 'account', icon: 'account_circle', i18nKey: 'global.menu.account.main', enable: true },
          { name: 'password', icon: 'password', i18nKey: 'global.menu.account.password', enable: true },
          { name: 'users', icon: 'people', i18nKey: 'global.menu.admin.userManagement', enable: store.getters['auth/hasRoleAdmin'] },
<%_ } _%>
          { name: 'configuration', icon: 'settings', i18nKey: 'global.menu.admin.configuration', enable: store.getters['auth/hasRoleAdmin'] },
          { name: 'health', icon: 'health_and_safety', i18nKey: 'global.menu.admin.health', enable: store.getters['auth/hasRoleAdmin'] },
          { name: 'metrics', icon: 'analytics', i18nKey: 'global.menu.admin.metrics', enable: store.getters['auth/hasRoleAdmin'] },
          { name: 'logs', icon: 'text_snippet', i18nKey: 'global.menu.admin.logs', enable: store.getters['auth/hasRoleAdmin'] },
          { name: 'docs', icon: 'menu_book', i18nKey: 'global.menu.admin.apidocs', enable: store.getters['auth/hasRoleAdmin'] },
          ...[],
        ].filter(item => item.enable);
      },
      isAuthenticated: computed(() => isAuthenticatedGetter()),
      toggleLeftDrawer() {
        data.leftDrawerOpen = !data.leftDrawerOpen;
      },
      changeTheme() {
        $q.dark.toggle();
        LocalStorage.set('dark-mode', $q.dark.mode);
      },
      logout() {
        data.leftDrawerOpen = false;
        data.miniState = true;
        authLogout(store, router);
      },
    };
  },
});
</script>
