<template>
  <q-page class="q-pa-md flex flex-center">
    <div
      class="responsive-width flex column"
      v-if="!isAuthenticated"
    >
      <q-btn
        color="primary"
        :label="$t('login.form.button')"
        @click="authLogin()"
      />
    </div>
    <div v-if="isAuthenticated">
      <transition
        appear
        enter-active-class="animated rubberBand"
      >
        <img
          alt="Quasar logo"
          src="~assets/jhipster.svg"
          style="width: 200px; height: 100px; animation-duration: 1s"
        />
      </transition>
      <br />
      <img
        v-if="!$q.dark.isActive"
        alt="Quasar logo"
        src="~assets/quasar-logo-vertical.svg"
        style="width: 200px; height: 200px"
      />
      <img
        v-if="$q.dark.isActive"
        alt="Quasar logo"
        src="~assets/quasar-logo-vertical-dark.svg"
        style="width: 200px; height: 200px"
      />
    </div>
  </q-page>
</template>

<script>
import { computed, defineComponent } from 'vue';
import { useStore } from 'vuex';
import { authLogin } from '../auth/authentication';

export default defineComponent({
  name: 'PageIndex',

  setup() {
    const store = useStore();

    return {
      isAuthenticated: computed(() => store.getters['auth/isAuthenticated']),
      authLogin,
    };
  },
});
</script>
