<template>
  <q-page class="q-pa-md flex flex-center">
    <div
      class="responsive-width flex column"
      v-if="!authStore.isAuthenticated"
    >
      <q-btn
        color="primary"
        :label="$t('login.form.button')"
        @click="authLogin()"
      />
    </div>
    <div v-if="authStore.isAuthenticated">
<%- include('../partials/logos.ejs') _%>
    </div>
  </q-page>
</template>

<script>
import { computed, defineComponent } from 'vue';
import { useAuthStore } from 'stores/auth-store';
import { authLogin } from 'app/src/auth/authentication';

export default defineComponent({
  name: 'PageIndex',

  setup() {
    const authStore = useAuthStore();

    return {
      authStore,
      authLogin,
    };
  },
});
</script>
