<template>
  <q-page class="q-pa-md flex flex-center">
    <div
      class="responsive-width flex column"
      v-if="!isAuthenticated"
    >
      <q-btn
        color="primary"
        :label="$t('login.form.button')"
        @click="authLogin()"
      />
    </div>
    <div v-if="isAuthenticated">
<%- include('../partials/logos.ejs') _%>
    </div>
  </q-page>
</template>

<script>
import { computed, defineComponent } from 'vue';
import { useStore } from 'vuex';
import { authLogin } from '../auth/authentication';

export default defineComponent({
  name: 'PageIndex',

  setup() {
    const store = useStore();

    return {
      isAuthenticated: computed(() => store.getters['auth/isAuthenticated']),
      authLogin,
    };
  },
});
</script>
